.navbar{
    height: 65px;
    border-bottom: 2px solid #d8d8da;
    display: flex;

}


.dropdown{
    display: flex;
    flex-direction: column;
    width: 280px;
    background-color: gray;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: white;
    border: 1px solid #3D3D3F;
    border-radius: 10px;
    position: absolute;
    top: 1.5%;
    left: 39%;
}

.dropdown-box{
    padding: 10px;
    border: 0.7px solid #3D3D3F;
    border-collapse: collapse;
    background-color: #272727;
}

.setting-link{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

button{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.toggle-theme{
    display: flex;
    width: 170px;
    justify-content: center;
    gap: 6px;
    align-items: center;
    margin-left: 70vw;
}

.toggle-theme span{
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
}

.toggle-box{
    width: 50px;
    height: 24px;
    background-color: #1A5FFF;
    border-radius: 50px;
    display: flex;
    padding: 4px;
}

.toggle-circle{
    height: 16px;
    width: 16px;
    background-color: white;
    border-radius: 100%;
}
