.wrapper-component{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #121212, #18181B);
}

.triangle2{
    width: 360px;
    position: absolute;
    top: 25%;
    left: 5%;
}

.ellipse1{
    width: 250px;
    position: absolute;
    bottom: 0;
    right: 20%;
}

.ellipse2{
    width: 125px;
    position: absolute;
    right: 0;
    top: 15%;
}