.signup-div{
    width: 20vw;
    margin: auto;
    margin-top: 80px;
    font-family: 'Poppins';
}

form div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
